# Exploratory data analysis

In [1]:
%load_ext autoreload
%autoreload 2

## Dependencies

In [ ]:
import pandas as pd
import numpy as np
import sys

sys.path.append('../')
from src.constants import *

In [20]:
categorical_features = df.dtypes.sort_values()
categorical_features = categorical_features[categorical_features == "object"]
categorical_features = categorical_features.index.tolist()
categorical_features

['type_of_work',
 'education_level',
 'marital_status',
 'ocupation',
 'type_of_relationship',
 'type_of_race',
 'sex',
 'native_country',
 'ernings_flag']

In [22]:
for col in categorical_features:
    print("="*120)
    print(f"Unique values of column {col}")
    display(df[col].unique().tolist())

========================================================================================================================
Unique values of column type_of_work

['State-gov',
 'Self-emp-not-inc',
 'Private',
 'Federal-gov',
 'Local-gov',
 '?',
 'Self-emp-inc',
 'Without-pay',
 'Never-worked']

========================================================================================================================
Unique values of column education_level

['Bachelors',
 'HS-grad',
 '11th',
 'Masters',
 '9th',
 'Some-college',
 'Assoc-acdm',
 'Assoc-voc',
 '7th-8th',
 'Doctorate',
 'Prof-school',
 '5th-6th',
 '10th',
 '1st-4th',
 'Preschool',
 '12th']

========================================================================================================================
Unique values of column marital_status

['Never-married',
 'Married-civ-spouse',
 'Divorced',
 'Married-spouse-absent',
 'Separated',
 'Married-AF-spouse',
 'Widowed']

========================================================================================================================
Unique values of column ocupation

['Adm-clerical',
 'Exec-managerial',
 'Handlers-cleaners',
 'Prof-specialty',
 'Other-service',
 'Sales',
 'Craft-repair',
 'Transport-moving',
 'Farming-fishing',
 'Machine-op-inspct',
 'Tech-support',
 '?',
 'Protective-serv',
 'Armed-Forces',
 'Priv-house-serv']

========================================================================================================================
Unique values of column type_of_relationship

['Not-in-family',
 'Husband',
 'Wife',
 'Own-child',
 'Unmarried',
 'Other-relative']

========================================================================================================================
Unique values of column type_of_race

['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other']

========================================================================================================================
Unique values of column sex

['Male', 'Female', '?']

========================================================================================================================
Unique values of column native_country

['United-States',
 'Cuba',
 'Jamaica',
 'India',
 '?',
 'Mexico',
 'South',
 'Puerto-Rico',
 'Honduras',
 'England',
 'Canada',
 'Germany',
 'Iran',
 'Philippines',
 'Italy',
 'Poland',
 'Columbia',
 'Cambodia',
 'Thailand',
 'Ecuador',
 'Laos',
 'Taiwan',
 'Haiti',
 'Portugal',
 'Dominican-Republic',
 'El-Salvador',
 'France',
 'Guatemala',
 'China',
 'Japan',
 'Yugoslavia',
 'Peru',
 'Outlying-US(Guam-USVI-etc)',
 'Scotland',
 'Trinadad&Tobago',
 'Greece',
 'Nicaragua',
 'Vietnam',
 'Hong',
 'Ireland',
 'Hungary',
 'Holand-Netherlands']

========================================================================================================================
Unique values of column ernings_flag

['<=50K', '>50K']

In [41]:
df\
.groupby("ocupation")\
.agg(
    mean_target = (
        "ernings_flag",
        lambda x: (x == ">50K").mean()
    ),
    count = (
        "ernings_flag",
        len
    )
)\
.sort_values("mean_target")

                   mean_target  count
ocupation
Priv-house-serv       0.006711    149
Other-service         0.041578   3295
Handlers-cleaners     0.062774   1370
?                     0.103635   1843
Armed-Forces          0.111111      9
Farming-fishing       0.115694    994
Machine-op-inspct     0.124875   2002
Adm-clerical          0.134483   3770
Transport-moving      0.200376   1597
Craft-repair          0.226641   4099
Sales                 0.269315   3650
Tech-support          0.304957    928
Protective-serv       0.325116    649
Prof-specialty        0.449034   4140
Exec-managerial       0.484014   4066